body{
background: url("../img/WhatsApp\ Image\ 2022-03-01\ at\ 14.52.51.jpeg");
}

h1{
    color: rgb(49, 212, 8);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.gta{
    color: rgba(255, 232, 22, 0.671);
    height: 100px;
}
a{
    color: rgb(255, 255, 255);
    font: weight 57px;;

font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 1200000;
  background-color: black;
  border: 24px;
 
  
}
.m{
    border: 110px;
background-color: rgb( 33 5 5);
}
.red{
background-color: rgb(255 4 4);
border: 500px;
}
.fg{
    height: 36000000px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(88 98 232);
}
.dfm{
 height: 2px;
 width: 324px;
 margin: auto;

}
.dr{
    height: 2px;
    width: 324px;
    margin: auto;  
}
.xa{
border: 122px;
background-color: black;

}

.grggfv{
    height: auto;
    width: 224px;
    margin: auto; 
}